body {
	font-family: monospace;
	text-align: center;
}
table {
	border: 2px solid black;
	border-collapse: collapse;
}

td{
	padding: 5px;
}
#error {
	font-style: italic;
	color: red;
}
#tweet1 {
    word-wrap: break-word;
	margin-right: 2em;
}
#tweet2 {
    word-wrap: break-word;
	margin-left: 2em;
}

#tweet {
	padding-top: 2em;
	overflow: hidden;
}

.display {
	word-wrap: normal;
	padding-right: 2%;
	width: 20%;
	float: left;
}

.container-fluid .span10 #inputs .hashes {
	margin: 0pt;
}
.fights{
	word-wrap: break-word;
}

#myCanvas {
	width: auto;
	height: auto;
}	
